<div class="row row-cols-2 row-cols-1 align-content-center container-index">
    <div class="col col-sm-2 col-1">

    </div>
    <div class="col col-10">
        <div class="text-center">
            <h1 class="h1 header-index">Find your favorite Artist</h1>
        </div>
        <div class="text-center">
            <div class="loadingio-spinner-cube-566xdnc3exk">
                <div class="ldio-npz9hlxcy8">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

</div>